/* set-up */

@import './setup/vars.css';
@import './setup/font-face.css';

/* basicx */
@import './basic/basic.css';
@import './basic/helpers.css';
@import './basic/icons.css';
@import './basic/layout.css';

/* COMPONENTS */
@import './comps/header.css';
@import './comps/modal.css';
@import './comps/footer.css';

.img-container{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.gallery-img{
    width: 100%;
    border-radius: 0.5rem;
}

.gallery-img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.6);;
}


/* modal */




/* modalComps */






@media (max-width: 780px){
    .img-container{
        padding-top: 100px;
    }
}

@media (max-width: 530px){

}

@media (min-width: 781px){


}

@media (min-width: 1060px){

}

