.main-layout-footer {
    background-color: var(---clr8);
    flex-direction: column;
    margin-top: 5rem;
}

.main-layout-footer .logo {
    height: 50px;
}

.main-layout-footer small {
    font-size: 13px;
    letter-spacing: 0.39px;
    margin: 0 auto;
    color: var(--clr1);

}

.main-layout-footer small span {
    font-weight: 700;
}

.main-layout-footer ul {
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.social-links a {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}
